@use 'variables' as v;

@mixin modal-background{
    background-color: v.$Black-modal;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
   // display: none;
    
  
}

@mixin image-btn($top,$left,$showDesktop){
    position: absolute;
       background-color: v.$White;
       width: 40px;
       height: 40px;
       border-radius: 50%;
       padding: 12px;
       top: $top;
       left: $left;
       
       &:hover{
        cursor: pointer;
       }
       @media(min-width: 1115px){
        @if ($showDesktop == true){
            display: block;
        }@else{
            display: none;
        }
       
       }
}

@mixin changenumber($pv,$ph){
    width: 25px;
    height: 100%;
    padding: $pv $ph;
    background-color: v.$Light-grayish-blue;

    &:hover{
        cursor: pointer;
    }
}

@mixin button{
    border: solid 2px red;
    background-color: v.$Orange;
    width: 100%;
    height: 57px;
    border-radius: 8px;
    border: none;
    color: v.$White;
    font-size: 0.9em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    &:hover{
        cursor: pointer;
        opacity: 0.5;
    }

}