@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kumbh+Sans:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding: 0 24px;
}
@media (min-width: 1115px) {
  .header {
    height: 112px;
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }
}
.header__navigation {
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1115px) {
  .header__navigation {
    width: 590px;
    height: 100%;
  }
}
.header__menu:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .header__menu {
    display: none;
  }
}
.header__cart-avatar {
  display: flex;
  align-items: center;
  width: 70px;
  justify-content: space-between;
}
@media (min-width: 1115px) {
  .header__cart-avatar {
    width: 125px;
  }
}
.header__cart {
  position: relative;
}
.header__cart--notification {
  display: none;
  width: 15px;
  background-color: hsl(26, 100%, 55%);
  height: 12px;
  border-radius: 16px;
  position: absolute;
  top: -2px;
  right: -5px;
  font-size: 0.6em;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.header__cart:hover {
  cursor: pointer;
}
.header__avatar {
  width: 24px;
}
@media (min-width: 1115px) {
  .header__avatar {
    width: 48px;
  }
}
.header__avatar:hover {
  cursor: pointer;
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
}

.navbar {
  display: none;
  width: 400px;
}
.navbar__items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navbar__link {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  display: block;
  height: 112px;
  padding-top: 45px;
}
.navbar__link:hover {
  border-bottom: 4px solid hsl(26, 100%, 55%);
}
@media (min-width: 1115px) {
  .navbar {
    display: block;
  }
}

.modal-navbar {
  background-color: hsl(0, 0%, 100%);
  width: 250px;
  height: 100%;
  padding: 28px 24px;
  display: block;
}
.modal-navbar__background {
  background-color: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.modal-navbar__items {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 50px;
}
.modal-navbar__link {
  text-decoration: none;
  color: hsl(220, 13%, 13%);
  font-weight: 700;
  font-size: 1.1em;
}
.modal-navbar__close-icon:hover {
  cursor: pointer;
}

.gallery {
  position: relative;
}
.gallery__image-container {
  height: 300px;
  width: 100%;
  background-image: url("../images/image-product-1.jpg");
  background-position-y: -35px;
  background-size: cover;
}
.gallery__previus {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 12px;
  top: 130px;
  left: 15px;
}
.gallery__previus:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .gallery__previus {
    display: none;
  }
}
.gallery__next {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 12px;
  top: 130px;
  left: 315px;
}
.gallery__next:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .gallery__next {
    display: none;
  }
}
.gallery__thumnails {
  display: none;
}
@media (min-width: 1115px) {
  .gallery__thumnails {
    display: flex;
    justify-content: space-between;
  }
}
.gallery__thumnail {
  width: 90px;
  border-radius: 16px;
}
.gallery__thumnail:hover {
  cursor: pointer;
  border: 2px solid hsl(26, 100%, 55%);
}
@media (min-width: 1115px) {
  .gallery {
    width: 446px;
  }
  .gallery__image-container {
    background-position-y: 0;
    border-radius: 16px;
    height: 446px;
    margin-bottom: 32px;
  }
}

.details {
  padding: 24px;
}
.details__company {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin-bottom: 12px;
}
.details__title {
  font-size: 1.7em;
  margin-bottom: 16px;
}
.details__description {
  font-size: 0.94em;
  color: hsl(220, 13%, 13%);
  line-height: 24px;
  margin-bottom: 24px;
}
.details__prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;
}
.details__now {
  font-size: 1.8em;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 18px;
}
.details__discount {
  font-size: 0.5em;
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding: 4px;
  border-radius: 4px;
}
.details__before {
  font-weight: 700;
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
}
.details__button {
  border: solid 2px red;
  background-color: hsl(26, 100%, 55%);
  width: 100%;
  height: 57px;
  border-radius: 8px;
  border: none;
  color: hsl(0, 0%, 100%);
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.details__button:hover {
  cursor: pointer;
  opacity: 0.5;
}
@media (min-width: 1115px) {
  .details {
    width: 446px;
    padding-top: 60px;
  }
  .details__title {
    font-size: 2.7em;
    margin-bottom: 48px;
  }
  .details__description {
    font-size: 0.9em;
    margin-bottom: 37px;
  }
  .details__prices {
    flex-direction: column;
    align-items: flex-start;
  }
  .details__product-quantity {
    display: flex;
    gap: 32px;
  }
}

.input {
  height: 57px;
  display: flex;
  justify-content: space-between;
}
.input__minus {
  margin-left: 10px;
  width: 25px;
  height: 100%;
  padding: 24px 5px;
  background-color: hsl(223, 64%, 98%);
}
.input__minus:hover {
  cursor: pointer;
}
.input__number {
  width: 100%;
  border: none;
  background-color: hsl(223, 64%, 98%);
  font-size: 1.2em;
  font-weight: 700;
  font-family: "Kumbh Sans", serif;
  text-align: center;
  outline: none;
}
.input__plus {
  width: 25px;
  height: 100%;
  padding: 20px 3px;
  background-color: hsl(223, 64%, 98%);
  margin-right: 10px;
}
.input__plus:hover {
  cursor: pointer;
}

.cart-modal {
  display: none;
  width: 360px;
  height: 260px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px;
  position: absolute;
  top: 77px;
  right: 6px;
  background-color: hsl(0, 0%, 100%);
}
.cart-modal__title {
  font-weight: 700;
  padding: 24px;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
.cart-modal__chekout-container {
  padding: 24px;
}
.cart-modal__details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.cart-modal__image {
  width: 50px;
  border-radius: 4px;
}
.cart-modal__price span {
  color: hsl(0, 0%, 0%);
  font-weight: 700;
}
.cart-modal__delete:hover {
  cursor: pointer;
}
.cart-modal__chekount {
  border: solid 2px red;
  background-color: hsl(26, 100%, 55%);
  width: 100%;
  height: 57px;
  border-radius: 8px;
  border: none;
  color: hsl(0, 0%, 100%);
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cart-modal__chekount:hover {
  cursor: pointer;
  opacity: 0.5;
}

.modal-gallery {
  width: 550px;
  margin: auto;
}
.modal-gallery__backgound {
  background-color: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  place-content: center;
}
.modal-gallery__close-container {
  text-align: right;
  height: 30px;
}
.modal-gallery__close {
  width: 16px;
}
.modal-gallery__close:hover {
  cursor: pointer;
  content: url(../images/icon-close-orange.svg);
}
.modal-gallery__image-container {
  background-image: url(../images/image-product-1.jpg);
  height: 446px;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 32px;
  position: relative;
}
.modal-gallery__thumnails {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin: auto;
}
.modal-gallery__thumnail {
  width: 90px;
  border-radius: 16px;
}
.modal-gallery__thumnail:hover {
  cursor: pointer;
  border: 2px solid hsl(26, 100%, 55%);
}
.modal-gallery__previus {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 12px;
  top: 190px;
  left: -15px;
}
.modal-gallery__previus:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .modal-gallery__previus {
    display: block;
  }
}
.modal-gallery__next {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 12px;
  top: 190px;
  left: 520px;
}
.modal-gallery__next:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .modal-gallery__next {
    display: block;
  }
}

.main-container {
  position: relative;
  width: 375px;
  margin: 0 auto;
}
@media (min-width: 1115px) {
  .main-container {
    width: 1115px;
  }
}

@media (min-width: 1115px) {
  .content {
    display: flex;
    padding: 40px 50px;
    gap: 124px;
  }
}

.show {
  display: block;
}

.cart-empty {
  text-align: center;
  margin-top: 30px;
  font-weight: 700;
  color: hsla(0, 0%, 0%, 0.5);
}

/*# sourceMappingURL=styles.css.map */
